/* You can add global styles to this file, and also import other style files */

.content-block {
    margin-top: 15px;
    margin-left: 10px;
    border-radius: 25px;
    background: #8AC007;
    padding: 20px;
    width: 525px;
}

.columns-side-by-side {
    margin-left: -12px;
    display: inline-flex;
}

productgroep a {
    text-decoration: none;
}
