<tr class="aligned">
    <td class="list-item list-item-left"><img src="/assets/images/verwijderen.png" width="25px" height="25px"></td>
    <td class="list-item list-item-left fixed-width">{{item.product.naam}}</td>
    <td class="list-item list-item-right">{{item.hoeveelheid}} {{item.product.eenheid}}</td>
    <td class="list-item list-item-right">
        <img src="/assets/images/minus.png" width="25px" height="25px">
    </td>
    <td class="list-item list-item-right">
        <img src="/assets/images/plus.png" width="47px" height="47px"> <br/>
    </td>
</tr>
