<tr class="aligned">
    <td class="list-item list-item-left"><img src="/assets/images/verwijderen.png" width="25px" height="25px" (click)="deleteFromList(item.product.id)"></td>
    <td class="list-item list-item-left fixed-width">{{item.product.naam}}</td>
    <td class="list-item list-item-right">{{item.aantal}} {{item.product.eenheid.displayValue}}</td>
    <td class="list-item list-item-right">
        <img src="/assets/images/minus.png" width="24px" height="24px" (click)="decrement(item.product.id)">
    </td>
    <td class="list-item list-item-right">
        <img src="/assets/images/plus.png" width="45px" height="45px" (click)="increment(item.product.id)"> <br/>
    </td>
</tr>
