.product-item {
    display: inline-block;
    margin-left: 10px;
    margin-top: 15px;
    text-align: center;
    border-radius: 25px;
    background: #FCFCFC;
    padding: 20px;
    width: 130px;
    height: 140px;
}

.produkt-item-selected {
    background: #2590DE;
}

.number-items-on-list {
    border-radius: 25px;
    position: absolute;
    background: #2590DE;
    width: 25px;
    color: white;
}

.product-image {
    /*width:  86px;*/
    height: 100px;
}

.productgroep-item-text {
    text-align: center;
    border-radius: 25px;
    margin-top: 8px;
    background: #95D7ED;
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    height: 40px;
}

.text-centered {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.edit-image {
    height: 20px;
    width: 20px;
    position: relative;
    left: -5px;
}

