<div class="content-block">
  <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">

    <div>
      <div class="titel">
        Wijzigen produkt <br>
      </div>
      <table>

        <tr>
          <td>Produktnaam</td>
          <td><input type="text" placeholder="Naam" name="productName"></td>
        </tr>

        <tr>
          <td>Eenheid</td>
          <td>{{product.eenheid.displayValue}}</td>
        </tr>

        <tr>
          <td>Nieuwe Eenheid</td>
          <td><select></select></td>
        </tr>

        <tr>
          <td>
            <button class="edit-product-button" (click)="cancelEditing()">Annuleren</button>
          </td>
          <td>
            <button class="edit-product-button">Opslaan</button>
          </td>
        </tr>

      </table>
    </div>

  </form>
</div>
