<div class="content-block">
  <form>
    <div>
      <div class="titel">
        Wijzigen produkt <br>
      </div>
      <table>
        <tr>
          <td>Produktnaam</td>
          <td><input type="text"></td>
        </tr>
        <tr>
          <td><input type="hidden"></td>
        </tr>
        <tr>
          <td>Eenheid</td>
          <td>{{produkt.eenheid}}</td>
        </tr>
        <tr>
          <td>Nieuwe Eenheid</td>
          <td><select></select></td>
        </tr>
        <tr>
          <td>
            <button class="edit-product-button">Annuleren</button>
          </td>
          <td>
            <button class="edit-product-button">Opslaan</button>
          </td>
        </tr>
      </table>
    </div>
  </form>
</div>
