<div class="content-block">
  <form [formGroup]="editForm" (ngSubmit)="onSubmit(editForm.value)">

    <div>
      <div class="titel">
        Wijzigen produkt <br>
      </div>
      <table>

        <tr class="row">
          <td>Produktnaam</td>
          <td>
              <input type="text" [formControl]="editForm.controls['productName']">
            <div *ngIf="!editForm.controls['productName'].valid" class="field-error">Ongeldige waarde</div>
          </td>
        </tr>

        <tr class="row">
          <td>Eenheid</td>
          <td>
            <select [formControl]="editForm.controls['newEenheid']">
                <option [value]="eenheid.displayValue" *ngFor="let eenheid of eenheden">
                  {{eenheid.displayValue}}
                </option>
            </select>
          </td>
        </tr>

        <tr class="row">
          <td>Afbeelding:</td>
          <td colspan="2">
            <input type="radio" [formControl]="editForm.controls['imageType']" value="own">Eigen afbeelding
            <input type="radio" [formControl]="editForm.controls['imageType']" value="NA">Geen afbeelding
            <br/><br>
            <div class="product-image-box">
              <img [hidden]="editForm.controls['imageType'].value == 'NA'" src="/assets/images/{{editForm.controls['imageName'].value}}" class="product-image">
              <img [hidden]="editForm.controls['imageType'].value == 'own'" src="/assets/images/geen_afbeelding.jpg" class="product-image">
            </div>
            <br/>
            <input [hidden]="editForm.controls['imageType'].value == 'NA'" type="text" [formControl]="editForm.controls['imageName']">
            <div *ngIf="!editForm.controls['imageName'].valid" class="field-error">Ongeldige waarde</div>
          </td>

        </tr>

        <tr>
          <td>
            <button class="edit-product-button">Opslaan</button>
          </td>
          <td>
            <button class="edit-product-button" (click)="cancelEditing()">Annuleren</button>
          </td>
          <td>
            <button class="delete-product-button" (click)="$event.preventDefault(); deleteProduct();">Verwijder product</button>
          </td>
        </tr>

      </table>
    </div>

  </form>
</div>
