.button {
    /*box-shadow: 0 5px #119e4d;*/
    border-radius: 7px;
    background: #F12121;
    color: #ffffff;
    font-size: 15px;
    display: inline-block;
    text-align: center;
    height: 43px;
}
